<!DOCTYPE HTML>
<html>
<head>
	<link rel="stylesheet" href="/public/style.css" />
</head>

<body>
	<div id="contents">
		<div id="title">
			<h1>Smurfbook</h1>
		</div>

		<div id='postsBox'>
		{{if not .}}
			<h3>There doesn't appear to be any messages yet!</h3>
		{{end}}
		{{range $index, $post := .}}
			{{template "post" $post}}
		{{end}}
		</div>
		<div class="newPost">
			<form class="postForm" action="/newpost" method="POST">
				Name: <input type="text" name="Name" />
				Message: <input type="text" name="Post" />
				<input type="submit" value="Post" />
			</form>
			<form action="/upload" method="post" enctype="multipart/form-data">
		 	<label for="file">Filename:</label>
		 	<input type="file" name="file" id="file">
		 	<input type="submit" name="submit" value="Submit">
	 	</form> 
		</div>
		
	</div>
</body>

</html>

{{define "post"}}
	<div class="post">
			<div class="postContents">
			{{if !.isFile}}
				{{.Time.Format "3:04PM"}} -- <b>{{.Name}}</b> <i>says:</i> {{.Message}}
			{{else}}
				{{.Time.Format "3:04PM"}} -- <b>{{.Name}}</b> <i>has uploaded a file</i>
				<img src={{.Mesage}}/>
			{{end}}
			</div>
			{{range $index, $post := .Replies}}
				{{template "post" $post}}
			{{end}}
			<form class="replyForm" action="/newpost" method="POST">
				Name: <input type="text" name="Name" />
				Message: <input type="text" name="Reply" />
				<input type="hidden" name="ReplyId" value="{{.Id}}" />
				<input type="submit" value="Reply" />
			</form>
		</div>
{{end}}
